<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group margin-bottom-10">
    <%= form.label :first_name, style: "display: block", class:'margin-bottom-5' %>
    <%= form.text_field :first_name, class:'form-control' %>
  </div>

  <div class="form-group margin-bottom-10">
    <%= form.label :email, style: "display: block", class:'margin-bottom-5' %>
    <%= form.text_field :email, class:'form-control' %>
  </div>

  <div class="form-group margin-bottom-10">
    <%= form.label :phone, style: "display: block", class:'margin-bottom-5' %>
    <%= form.text_field :phone, class:'form-control' %>
  </div>

  <div class="form-group margin-bottom-10">
    <%= form.label :twitter, style: "display: block", class:'margin-bottom-5' %>
    <%= form.text_field :twitter, class:'form-control' %>
  </div>

  <br/>

  <% if @friend.id.nil?; prefix = "Add"; else prefix = "Update"; end; %>
  <%= form.submit class: 'btn btn-primary', value: "#{prefix} Friend" %>
  or
  <%= link_to 'Cancel', friends_path, class: 'btn btn-secondary' %>
<% end %>
